<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="static/bootstrap.min.css">
	<link href="static/tailwind.min.css" rel="stylesheet">
	<title>File Backup</title>
	<link rel="shortcut icon" href="static/file.ico" type="image/x-icon">
	<link href="static/material-icon-font.css"
      rel="stylesheet">
</head>

<body class="bg-blue-50">
	<div class="container ">
		<div class="row">
			<div class="col-md-8 m-auto my-5">
				<form action="/upload" method="post" enctype="multipart/form-data" class="max-w-lg mx-auto">
					<h1 class="text-3xl font-black my-5 center">KADMAP FILES BACKUP</h1>
					<h3 class="my-4">Lets upload some stuff</h3>
					<div class="custom-file mb-3">
						<input type="file" class="custom-file-input" name="file" id="file1" onchange="readSingleFile(this.files)">
						<label class="custom-file-label" for="file1" id="file-label">Choose file</label>
					</div>
					<input type="submit" value="Submit" class="btn btn-primary btn-block bg-blue-500 border-0 w-56 mx-auto">
				</form>

				<div class="mt-16 mb-2">

					<h2 class="text-lg font-bold" >Files (<%=total%>) </h2>
					<hr>
				</div>
				<% if(files) { %>
				<div class="grid grid-cols-10">
				<% files.forEach(function(file) {%>
				<div class="card mb-3 col-span-5 m-2">
					<div class="card-header">
						<div class="card-title">
							<%= file.filename %>
						</div>
					</div>
					<div class="card-body p-0 h-48">
						<a href="files/<%= file.filename %>" download>
							<% if(file.isImage){ %> 
								<img class="h-full w-full object-contain rounded" src="<%='files/'+file.filename %>" width="250" alt="" class="img-responsive">
							<% }else{ %> 
								<div style="padding:20%">
									<img class="w-20 m-auto" src="<%='thumbnail/'+file.ext %>" width="250" alt="" class="img-responsive">
								</div>
							
							<% }%> 
						</a>
					</div>
					<div class="card-footer">
						<form action="/files/del/<%= file.filename %>" method="post" onsubmit="return confirm('Are you sure you want to delete?');">
							<button type="submit" class="focus:border-opacity-0"><span class="material-icons text-red-500">delete</span></button>
							
						</form>
					</div>
				</div>
				<%}) %>
				</div>
				<% } else { %>
				<p>No files to show</p>
				<% } %>
			</div>
		</div>
	</div>	
	<script src="static/jquery-3.3.1.slim.min.js"></script>
  <script src="static/popper.min.js"></script>
	<script src="static/bootstrap.min.js"></script>
	<script>
		function readSingleFile(e) {
			const name = e[0].name;
			document.getElementById("file-label").textContent = name;
		}
	</script>
</body>

</html>